 {% extends 'base.html' %}
 {% block content %}
    <body class="menu-cart">
    <div class="row">
      <div class="container-fluid menu-cart-full">
      <header>
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" class="bold-text">eatplus</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <div class="inner-addon right-addon">
                      <i class="glyphicon glyphicon glyphicon-map-marker"></i>
                        <input type="text" class="form-control" placeholder="Address 1, Street1, City">
                  </div>
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img class="nav-img" src="assets/img/cart.png"></a></li>
                <li><a href="#"><img class="nav-img" src="assets/img/profile-pic.png"></a></li>
                <li><a href="#"><button class="btn" class="bold-text">Sign in</button></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      </div>
    </div>



    <div class="row">
      <div class="container-fluid">
        <div class="nav-top">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <h3>Toque</h3>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 nav-top-middle">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default">Delivery</button>
                  <button type="button" class="btn btn-default">Takeout</button>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 nav-top-right">
                <div class="btn-group" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Relevence
                      <i class="glyphicon glyphicon-menu-down blue"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">link</a></li>
                      <li><a href="#">link</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="row">
    <div class="container">
      <div class="hero-area-body">
        <h1 class="bold-text">Pizzas</h1>
        <div class="row">
          <div class="col-md-7 col-xs-12">
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading accordion-heading-left">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <img src="assets/img/pizza.jpg" alt="Pizza Photo" class="img-responsive left-float">
                <div class="separetor"></div>
                <p class="item-heading">Double Cheseese Pizza</p>
                </a>
                  <p class="price-add"><a href="#"><span class="item-plus">+</span></a></p>
                  <p class="price-add"><span style="font-weight: bold;">$15</span></p>
                  <p class="short-desc">Short description</p>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="tag-heading">Size</td>
                          <td>Small</td>
                          <td>Medium</td>
                          <td>Large</td>
                        </tr>
                        <tr>
                          <td class="tag-heading">Dough</td>
                          <td>Glueten Free</td>
                          <td>Grain</td>
                          <td>More</td>
                        </tr>
                        <tr>
                          <td class="tag-heading">Tooping</td>
                          <td>Olives</td>
                          <td>Potatoes</td>
                          <td>Peppers</td>
                        </tr>
                         <tr>
                          <td class="tag-heading">More option</td>
                          <td>More</td>
                          <td>More</td>
                          <td>More</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </div>

              <div class="accordion-group">
                <div class="accordion-heading accordion-heading-left">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <img src="assets/img/pizza.jpg" alt="Pizza Photo" class="img-responsive left-float">
                <div class="separetor"></div>
                <p class="item-heading">Double Cheseese Pizza</p>
                </a>
                  <p class="price-add"><a href="#"><span class="item-plus">+</span></a></p>
                  <p class="price-add"><span style="font-weight: bold;">$15</span></p>
                  <p class="short-desc">Short description</p>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="tag-heading">Size</td>
                          <td>Small</td>
                          <td>Medium</td>
                          <td>Large</td>
                        </tr>
                        <tr>
                          <td class="tag-heading">Dough</td>
                          <td>Glueten Free</td>
                          <td>Grain</td>
                          <td>More</td>
                        </tr>
                        <tr>
                          <td class="tag-heading">Tooping</td>
                          <td>Olives</td>
                          <td>Potatoes</td>
                          <td>Peppers</td>
                        </tr>
                         <tr>
                          <td class="tag-heading">More option</td>
                          <td>More</td>
                          <td>More</td>
                          <td>More</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </div>


              <div class="accordion-group">
                <div class="accordion-heading accordion-heading-left">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThird">
                <img src="assets/img/pizza.jpg" alt="Pizza Photo" class="img-responsive left-float">
                <div class="separetor"></div>
                <p class="item-heading">Double Cheseese Pizza</p>
                </a>
                  <p class="price-add"><a href="#"><span class="item-plus">+</span></a></p>
                  <p class="price-add"><span style="font-weight: bold;">$15</span></p>
                  <p class="short-desc">Short description</p>
                </div>
                <div id="collapseThird" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="tag-heading">Size</td>
                          <td>Small</td>
                          <td>Medium</td>
                          <td>Large</td>
                        </tr>
                        <tr>
                          <td class="tag-heading">Dough</td>
                          <td>Glueten Free</td>
                          <td>Grain</td>
                          <td>More</td>
                        </tr>
                        <tr>
                          <td class="tag-heading">Tooping</td>
                          <td>Olives</td>
                          <td>Potatoes</td>
                          <td>Peppers</td>
                        </tr>
                         <tr>
                          <td class="tag-heading">More option</td>
                          <td>More</td>
                          <td>More</td>
                          <td>More</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </div>

              </div>
            </div>
          <div class="col-md-5 col-xs-12">
            <div class="accordion" id="accordion3">
              <div class="accordion-group">
                <div class="acc-item">
                  <div class="accordion-heading accordion-heading-right">
                    <a href="#">
                      <p class="delete-cart inline-para"><i class="fa fa-2x fa-trash-o" aria-hidden="true"></i></p>
                    </a>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapsefirst">
                  <p class="right-accordion-heading inline-para">Double Cheseese Pizza</p>
                  </a>
                    <p class="right-accordion-minus inline-para text-right"><a href="#" id="minus"><i class="fa fa-minus-square" aria-hidden="true"></i></a></p>
                    <span class="right-accordion-qnty inline-para text-right" ><input type="number" value="1" name="" id="quantity"></span>
                    <p class="right-accordion-plus inline-para text-right"><a href="#" id="plus"><i class="fa fa-plus-square" aria-hidden="true"></i></a></p>
                    <p class="right-accordion-price inline-para text-right">$<span>10.3</span></p>
                  </div>
                  <div id="collapsefirst" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <form class="form-inline">
                        <table class="table table-right">
                          <tbody>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Size</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Small</option>
                                      <option>Medium</option>
                                      <option>Large</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Dough</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Gluten free</option>
                                      <option>Grain</option>
                                      <option>More</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Tooping</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Olives</option>
                                      <option>Potatoes</option>
                                      <option>Peppers</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">More option</p>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>More</option>
                                        <option>More</option>
                                        <option>More</option>
                                    </select>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
              </div>
                <div class="acc-item">
                  <div class="accordion-heading accordion-heading-right">
                    <a href="#">
                      <p class="delete-cart inline-para"><i class="fa fa-2x fa-trash-o" aria-hidden="true"></i></p>
                    </a>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapsemiddle">
                  <p class="right-accordion-heading inline-para">Double Cheseese Pizza</p>
                  </a>
                    <p class="right-accordion-minus inline-para text-right"><a href="#" id="minus"><i class="fa fa-minus-square" aria-hidden="true"></i></a></p>
                    <span class="right-accordion-qnty inline-para text-right" ><input type="number" value="1" name="" id="quantity"></span>
                    <p class="right-accordion-plus inline-para text-right"><a href="#" id="plus"><i class="fa fa-plus-square" aria-hidden="true"></i></a></p>
                    <p class="right-accordion-price inline-para text-right">$<span>10.3</span></p>
                  </div>
                  <div id="collapsemiddle" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <form class="form-inline">
                        <table class="table table-right">
                          <tbody>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Size</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Small</option>
                                      <option>Medium</option>
                                      <option>Large</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Dough</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Gluten free</option>
                                      <option>Grain</option>
                                      <option>More</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Tooping</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Olives</option>
                                      <option>Potatoes</option>
                                      <option>Peppers</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">More option</p>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>More</option>
                                        <option>More</option>
                                        <option>More</option>
                                    </select>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
              </div>
                <div class="acc-item">
                  <div class="accordion-heading accordion-heading-right">
                    <a href="#">
                      <p class="delete-cart inline-para"><i class="fa fa-2x fa-trash-o" aria-hidden="true"></i></p>
                    </a>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapselast">
                  <p class="right-accordion-heading inline-para">Double Cheseese Pizza</p>
                  </a>
                    <p class="right-accordion-minus inline-para text-right"><a href="#" id="minus"><i class="fa fa-minus-square" aria-hidden="true"></i></a></p>
                    <span class="right-accordion-qnty inline-para text-right" ><input type="number" value="1" name="" id="quantity"></span>
                    <p class="right-accordion-plus inline-para text-right"><a href="#" id="plus"><i class="fa fa-plus-square" aria-hidden="true"></i></a></p>
                    <p class="right-accordion-price inline-para text-right">$<span>10.3</span></p>
                  </div>
                  <div id="collapselast" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <form class="form-inline">
                        <table class="table table-right">
                          <tbody>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Size</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Small</option>
                                      <option>Medium</option>
                                      <option>Large</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Dough</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Gluten free</option>
                                      <option>Grain</option>
                                      <option>More</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">Tooping</p>
                                </div>
                              </td>
                              <td>
                              <div class="form-group">
                                  <select class="form-control">
                                      <option>Olives</option>
                                      <option>Potatoes</option>
                                      <option>Peppers</option>
                                  </select>
                              </div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="form-group">
                                    <p class="bold-text">More option</p>
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>More</option>
                                        <option>More</option>
                                        <option>More</option>
                                    </select>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
              </div>
                <div class="payment">

                  <p class="checkbox-inline" style="margin-left: 15px;">Cash</p>
                  <input type="checkbox" id="cash" style="width: 25px; height: 25px; margin-top: 0px; position: absolute;
    margin-left: 0px; background: none;" value="option1">

                  <p class="checkbox-inline" style="margin-left: 15px;">Credit Card</p>
                  <input type="checkbox" id="cash" style="width: 25px; height: 25px; margin-top: 0px; position: absolute;
    margin-left: 0px;" value="option1">

                  <p class="checkbox-inline" style="margin-left: 15px;">Debit Card</p>
                  <input type="checkbox" id="cash" style="width: 25px; height: 25px; margin-top: 0px; position: absolute;
    margin-left: 5px;" value="option1">

                </div>
                <div class="payment-amount">
                  <div class="row">
                    <div class="col-md-6">
                      <h3>Sub total:</h3>
                    </div>
                    <div class="col-md-6">
                      <h3 style="text-align: right; font-weight: bold;">$10.3</h3>
                    </div>
                    <div class="col-md-6">
                      <h3>Total:</h3>
                    </div>
                    <div class="col-md-6">
                      <h3 style="text-align: right; font-weight: bold;">$13.3</h3>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary btn-block">Place Order</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript">
    $(document).on('show','.accordion', function (e) {
         //$('.accordion-heading i').toggleClass(' ');
         $(e.target).prev('.accordion-heading').addClass('accordion-opened');
    });

    $(document).on('hide','.accordion', function (e) {
        $(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
        //$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
    });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
          $('input:checkbox').click(function() {
              $('input:checkbox').not(this).prop('checked', false);
          });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#plus").click(function(){
          $('#quantity').val( function(i, oldval) {
              return parseInt( oldval, 10) + 1;
          });
        });
      });
      $(document).ready(function(){
        $("#minus").click(function(){
          var qnty = $('#quantity').val();
          if(qnty <=1){
            return parseInt(1);
          }else {
            $('#quantity').val( function(i, oldval) {
              return parseInt( oldval, 10) - 1;
          });
          }

        });
      });
    </script>
 {% endblock %}